body {
  background-image: url('../img/images.jpeg');
  background-size: cover;
  overflow-x: hidden;
}

.jumbotron h5 {
  text-align: center;
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
  border: 2px solid white;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.jumbotron {
  background-image: url('../img/rose.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: white;
}

h2 {
  color: white;
  text-decoration: underline;
  font-style: italic;
}

h4 {
  text-align: center;
  margin-left: 50%;
  font-size: 20px;
}

li a {
  font-weight: bold;
}

a {
  color: blue;
}

.media {
  text-align: center;
  margin-top: 100%;
  bottom: 0;
  vertical-align: middle;
  width: 100%;
}

.icon-bar {
  width: 90px;
  background-color: #555;
  margin-top: 10%;
}

  .icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

footer a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.active {
  background-color: green;
}

.icon-bar a:hover {
  background-color: black;
}
